extends layout

block content
  h1= title
  p Welcome to PAID Network
  p End Point Total Supply
  a(href='https://dev-totalsupply.paidnetwork.com/totalsupply') https://dev-totalsupply.paidnetwork.com/totalsupply/totalsupply
  p End Point Circulating Supply
  a(href='https://dev-totalsupply.paidnetwork.com/circulatingsupply') https://dev-totalsupply.paidnetwork.com/circulatingsupply/circulatingsupply
