extends layout

block content
  h1= title
  p Welcome to PAID Network
  p End Point Total Supply
  a(href='https://totalsupply.paidnetwork.com/totalsupply', target="_blank") https://totalsupply.paidnetwork.com/totalsupply/totalsupply
  p End Point Circulating Supply
  a(href='https://totalsupply.paidnetwork.com/circulatingsupply', target="_blank") https://totalsupply.paidnetwork.com/circulatingsupply/circulatingsupply
